@using FreelanceGo_MasterV2.Models;
@{ViewData["Title"] = "ProfileDetailsCompany"; }


@{  
   var ProfileDetailsCompany = ViewData["ProfileDetailsCompany"] as Company; 
  IEnumerable<EmployerRating> ProjectEmployer = ViewData["ProjectEmployer"] as IEnumerable<EmployerRating>; 
}



<style>
.profile{
    margin-top: 3rem;
    padding: 3rem;
    border: 1px solid red;
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.feedback{
    margin-top: 3rem;
    padding: 3rem;
    border: 1px solid red;
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
dd{
    margin: 1rem;
}
.review{
    width: 70%;
    margin: auto;
    border: 1px solid #d4d4d5;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 12px;
}
.review-header{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}
.review-card{
    height: 90.250px;
    border-bottom: 1px solid #d4d4d5;
}
span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    margin-right: 3px;
}
.boxrating {
    background-color: red;
    color: white;
    border-radius: 2px;
    margin-right: 6px;
    padding: 1px 3px 0;
}
</style>


<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="profile">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 style="margin-left: 8rem;">@ProfileDetailsCompany.Company_Name</h2>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col-sm-7">
                             <dl class="dl-horizontal">  
                                <dt>
                                    อีเมล
                                </dt>
                                <dd>
                                    @ProfileDetailsCompany.Email
                                </dd> 
                                 <dt>
                                    เบอร์โทร
                                </dt>
                                <dd>
                                    @ProfileDetailsCompany.Company_Tel
                                </dd> 
                                <dt>
                                    เบอร์ Fax
                                </dt>
                                <dd>
                                    @ProfileDetailsCompany.Fax
                                </dd> 
                                <dt class="disadmin">
                                    เลขผู้เสียภาษีบริษัท
                                </dt>
                                <dd class="disadmin">
                                    @ProfileDetailsCompany.Company_TaxID
                                </dd> 
                                 <dt>
                                    Facebook
                                </dt>
                                <dd>
                                    @ProfileDetailsCompany.Facebook
                                </dd> 
                                 <dt>
                                    Line
                                </dt>
                                <dd>
                                    @ProfileDetailsCompany.Line
                                </dd> 
                                 <dt>
                                    ที่อยู่
                                </dt>
                                <dd>
                                    @ProfileDetailsCompany.Company_Address
                                </dd>   
                                <dt>
                                    <span>เรตติ้ง</span>
                                </dt>
                                <dd>
                                    <span class="boxrating">@ProfileDetailsCompany.Rating.0</span> @for (int i=0;i
                                < ProfileDetailsCompany.Rating; i++) { <span style="color: red; font-size: 15px;">★</span>
                                    }
                                </dd>                  
                            </dl>
                         </div>
                         <div class="col-sm-5 ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img  src="~/images/@ProfileDetailsCompany.imgName" style="width: 30rem; height: 20rem;"  class="img-rounded" alt="">
                                </div>
                            </div>
                         </div>
                         <div class="row">
                        <div class="col-sm-12">
                            <div class="review-header">
                                 <h4>ประวัติการทำงาน</h4>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-12">
                            <div class="review">
                                        @foreach (EmployerRating ProjectEmployerList in ProjectEmployer)
                                        {
                                        <div class="review-card">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <a href="/Company/HistoryProjectDetails/@ProjectEmployerList.Project.Project_ID"><h5><i class="fas fa-archive"></i> @ProjectEmployerList.Project.ProjectName</h5></a>
                                                </div>
                                                <div class="col-sm-12"  style="color: red;">
                                                    @for (int i=0;i< ProjectEmployerList.Score; i++)
                                                    {
                                                        <span>★</span>
                                                    }
                                                </div>
                                                <div class="col-sm-12">
                                                    <h5>@ProjectEmployerList.TextReview</h5>
                                                </div>
                                            </div>
                                        </div>
                                        }
                            </div>
                        </div>
                    </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="feedback">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>ประวัติการจ้างงาน</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table style="width: 100%;">
								<thead>
									<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
										<th class="col-xs-4 ">ชื่องาน</th>
										<th class="col-xs-2 text-center">คะเเนน</th>
										<th class="col-xs-3 text-center">ระยะเวลาในการทำงาน</th>
										<th class="col-xs-4 text-center">ราคา</th>
									</tr>
								</thead>
								<tbody class="points_table_scrollbar">
									@foreach (EmployerRating ProjectEmployerList in ProjectEmployer)
                                    {
                                        <tr style="height: 5rem;">
                                            <td class="col-xs-4 "><a href="/Company/HistoryProjectDetails/@ProjectEmployerList.Project.Project_ID">@ProjectEmployerList.Project.ProjectName</a href="/"></td>
                                            <td class="col-xs-2 text-center" style="color: red;">
                                            @for (int i=0;i< ProjectEmployerList.Score; i++)
                                            {
                                                <span>★</span>
                                            }
                                            </td>
                                            <td class="col-xs-3 text-center">@ProjectEmployerList.Project.ProjectTimelength วัน</td>
                                            <td class="col-xs-4 text-center">@ProjectEmployerList.Project.ProjectPrice บาท</td>
									    </tr>
                                    }													
								</tbody>
							</table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>



<script>
$().ready(function() {
    if (localStorage['Admin_ID'] == null)
    {
        $(".disadmin").hide();
         $(".navbar-right").hide();
    }
});
</script>