@using FreelanceGo_MasterV2.Models; 
@{ Layout = "_AdminLayout"; ViewData["Title"] = "ProjectDetails"; } 
@{ var ProjectDetails = ViewData["ProjectDetails"] as Project; 
 IEnumerable <Auction> AuctionList = ViewData["AuctionList"] as IEnumerable<Auction>; }
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <style>
            body {
                background-color: #eeeeee;
            }
            .project {
                background-color: white;
                padding: 5rem;
                padding-bottom: 2rem;
                padding-top: 1rem;
                border: 1px solid red;
                border-color: #ccc;
                -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
            }

            .Auction {
                background-color: white;
                margin-top: 3rem;
                padding: 3rem;
                border: 1px solid red;
                border-color: #ccc;
                -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
            }

            .boxrating {
                background-color: red;
                color: white;
                border-radius: 2px;
                margin-right: 6px;
                padding: 1px 3px 0;
            }
        </style>


        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>@ProjectDetails.ProjectName</h1>
                            <input type="hidden" id="Project_ID" value=@ProjectDetails.Project_ID />
                        </div>
                    </div>
                    <div class="project">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>รายละเอียด</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>@ProjectDetails.Description</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>ราคาเริ่มต้น: @ProjectDetails.Budget บาท</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>ระยะเวลาในการทำงาน: @ProjectDetails.Timelength วัน</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>วันที่เริ่มประมูล: @Html.DisplayFor(modelItem => ProjectDetails.StartingDate)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>วันที่สิ้นสุดการประมูล: @Html.DisplayFor(modelItem => ProjectDetails.EndDate)</p>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-12">
                                    <p>ประเภทงาน: @ProjectDetails.TypeProject.Name</p>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>ความสามารถที่ต้องการ</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p id="Project_IDText">
                                    </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>ข้อมูลผู้จ้าง</h3>
                            </div>
                        </div>
                        @if (@ProjectDetails.Employer != null) {
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>
                                    <a href="/Outsider/ProfileDetailsEmployer/@ProjectDetails.Employer.Employer_ID">@ProjectDetails.Employer.FullName</a>
                                </h4>
                            </div>
                            <div class="col-sm-12">
                                <span class="boxrating">@ProjectDetails.Employer.Rating.0</span> @for (int i=0;i
                                < ProjectDetails.Employer.Rating; i++) { <span style="color: red; font-size: 20px;">★</span>
                                    }
                            </div>
                        </div>
                        } else if (@ProjectDetails.Company != null) {
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>
                                    <a >@ProjectDetails.Company.Company_Name</a>
                                </h4>
                            </div>
                            <div class="col-sm-12">
                                <span class="boxrating">@ProjectDetails.Company.Rating.0</span> @for (int i=0;i
                                < ProjectDetails.Company.Rating; i++) { <span style="color: red; font-size: 20px;">★</span>
                                    }
                            </div>
                        </div>
                        }
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-sm-12">
                                <span class="pull-right">
                                    <span style=" color: red; font-weight: bold;">วันที่หมดเวลาประกาศงาน:</span> @Html.DisplayFor(modelItem => ProjectDetails.ProjectTimeOut)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="Auction">
                        <div class="row">
                            <div class="col-sm-12">
                                <table style="width:100%;">
                                    <thead>
                                        <tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
                                            <th class="col-xs-4">ชื่อ</th>
                                            <th class="col-xs-3 text-center">คะแนน</th>
                                            <th class="col-xs-2 text-center">ราคา</th>
                                            <th class="col-xs-3 text-center">ระยะเวลาในการทำงาน/วัน</th>
                                        </tr>
                                    </thead>
                                    <tbody id="AuctionTable" class="points_table_scrollbar">
                                        @if(AuctionList.Count() == 0) {
                                        <tr>
                                            <td></td>
                                            <td class="pull-right" style="padding-top: 3rem;">--- ไม่มีการเสนอราคา ---</td>
                                        </tr>
                                        } else { @foreach (Auction Auctions in AuctionList) {
                                        <tr class="odd" style="height:5rem;">
                                            <td class="col-xs-4">
                                                <a>@Auctions.Freelance.FullName</a>
                                            </td>
                                            <td class="col-xs-3 text-center">@for (int i=0;i
                                                < Auctions.Freelance.Rating; i++) { <span style="color: red;">★</span>
                                                    }
                                            </td>
                                            <td class="col-xs-2 text-center">@Auctions.Price บาท</td>
                                            <td class="col-xs-3 text-center">@Auctions.AuctionTime วัน</td>
                                        </tr>
                                        } }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $().ready(function() {
                var i;
                var Project_ID = $("#Project_ID").val();
                /* jQuery.ajax({
                 type: "get",
                 dataType: "json",
                 url: "/Freelnace/GetProjectAuction/"+ Project_ID,
                 success: function (data) {
                     console.log(data);
                     $.each(data, function(key, data) {
                        $("td.xxx").append('<span>★</span>')
                        var row1 = $('<tr class="odd" style="height:5rem;">'+
                                             '<td class="col-xs-2"><a href="/Outsider/ProfileDetailsFreelance/'+data.freelance_ID+'">'+data.fullName+'</a></td>'+
                                             '<td class="col-xs-3 xxx text-center"id="rating"><div></div></td>'+
                                             '<td class="col-xs-3 text-center">'+ data.price +' บาท</td>'+
                                             '<td class="col-xs-3 text-center">'+ data.auctionTime +' วัน</td>'+
                                     '</tr>');
                        $("#AuctionTable").append(row1);
                     });
                 },
                 error: function (data) {
                     alert("กรอกข้อมูลไม่ถูกต้อง");
                 },
                 }); //end ajax */
                 var url = window.location.href;
                 console.log(url);
                 localStorage['toURL'] = url;
                jQuery.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/Home/GetProjectSkill/" + Project_ID,
                    success: function(data) {
                        console.log(data);
                        $.each(data, function(key, data) {
                            var newOption = new Option(data.text = data.name, data.id = data.skill_ID, false, true);
                            $('#skills').append(newOption).trigger('change');
                            $("#Project_IDText").append(data.name + ", ");
                        });
                    },
                    error: function(data) {
                        alert("กรอกข้อมูลไม่ถูกต้อง");
                    },
                }); //end ajax
            });
        </script>