@{ Layout = "_AdminLayout"; 
    ViewData["Title"] = "จัดการประเภทงาน"; 
    IEnumerable<TypeProject> TypeProjectList = ViewData["TypeProject"] as IEnumerable<TypeProject>; 
}
<style>
    .tabelcon{
        margin: 1em;
    }
</style>
<div>
    <div class="container" style="margin-left: 10rem; padding-right: 4rem;">
        <div class="panel panel-primary" style="margin-top: 3rem;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 style="margin-left: 3rem;">จัดการประเภทงาน</h1>
                    </div>
                </div>
            </div>
                <div class="panel-body">
                    <div class="tabelcon">
                        <div class="row col-md-12 custyle">
                        <table class="table table-striped ">
                        <thead>
                        <a  class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#exampleModalCenter1"><b>+</b> เพิ่มประเภทงาน</a>
                            <tr>
                                <th>ID</th>
                                <th>ชื่อ</th>
                                <th class="text-center">วันที่แก้ไข</th>
                                <th class="text-center">แก้ไข</th>
                                <th class="text-center">ลบ/กู้คืน</th>
                            </tr>
                        </thead>
                            @foreach (@TypeProject @TypeProjectLists in @TypeProjectList) {
                                <tr class="projectComtroller">
                                    <td class="col-xs-1">
                                        <div class="row">
                                            <div class="col-sm-12 ">
                                                <p>@TypeProjectLists.TypeProject_ID</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-xs-5">
                                        <div class="row">
                                            <div class="col-sm-12 ">
                                                    <a  title="@TypeProjectLists.TypeProjectDescription">@TypeProjectLists.Name</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-xs-2">
                                        <div class="row">
                                            <div class="col-sm-12 text-center ">@Html.DisplayFor(modelItem => @TypeProjectLists.Date_Update)</div>
                                        </div>
                                    </td>
                                    <td class="col-xs-2">
                                        <div class="row">
                                            <div class=" col-sm-12 text-center "><a data-toggle="modal" data-target="#exampleModalCenter" class='edit btn btn-success btn-xs' idskill=@TypeProjectLists.TypeProject_ID>
                                                <span class="glyphicon glyphicon-edit"></span> แก้ไข</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-xs-2">
                                        <div class="row">
                                            <div class="col-sm-12 text-center ">
                                                 @if(  @TypeProjectLists.DelStatus == false)
                                            {
                                                <div class="col-sm-12">
                                                    <a href="/Admin/RemoveTypeProject/@TypeProjectLists.TypeProject_ID" class='projectIDval btn btn-danger btn-xs'>
                                                        <span class="glyphicon glyphicon-trash"></span> ลบ</a>
                                                </div>
                                            }
                                            else
                                            {       
                                                <div class="col-sm-12">
                                                    <a href="/Admin/RecoverTypeProject/@TypeProjectLists.TypeProject_ID" class='projectIDval btn btn-success btn-xs'>
                                                        <span class="glyphicon glyphicon-edit"></span> กู้คืน</a>
                                                </div>
                                            }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }
                        </table>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">แก้ไข้ปประเภทงาน</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ชื่อใหม่</label>
                                <input type="text" id="TypeProjectName" class="form-control">
                                <input type="hidden" id="TypeProject_ID" class="form-control">
                                <input type="hidden" id="Date_Create" class="form-control">
                                <input type="hidden" id="DelStatus" class="form-control">
                            </div>
                             <div class="form-group">
                                <label for="exampleInputEmail1">รายละเอียดทักษะ</label>
                                <input type="text" class="form-control" id="TypeProjectDescriptionEdit" placeholder="รายละเอียดประเภทงาน">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" disabled class="btn btn-primary" id="EditTypeProjectSeve-btn">บันทึก</button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">เพิ่มปรเภทงาน</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label >ชื่อประเภทงาน</label>
                            <input type="text" class="form-control" id="Name" placeholder="ชื่อประเภทงาน">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">รายละเอียดประเภทงาน</label>
                            <input type="text" class="form-control" id="TypeProjectDescription" placeholder="รายละเอียดประเภทงาน">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary" id="addTypeProject-btn">เพิ่มปรเภทงาน</button>
                    </div>
                    </div>
                </div>
                </div>
        </div>
    
</div>
</div>

<script>
$().ready(function() {
    var Name = "";
    var TypeProjectDescription  = "";
    var TypeProjectName = "";
    var TypeProjectDescriptionEdit = ""; 
    $("#Name").change(function() {
        Name = $("#Name").val();
        console.log(Name);
    });
    $("#TypeProjectDescription").change(function() {
        TypeProjectDescription = $("#TypeProjectDescription").val();
        console.log(TypeProjectDescription);
    });
     $("#TypeProjectName").change(function() {
         $("#EditTypeProjectSeve-btn").removeAttr('disabled');
        TypeProjectName = $("#TypeProjectName").val();
        console.log(TypeProjectName);
    });
     $("#TypeProjectDescriptionEdit").change(function() {
         $("#EditTypeProjectSeve-btn").removeAttr('disabled');
        TypeProjectDescriptionEdit = $("#TypeProjectDescriptionEdit").val();
        console.log(TypeProjectDescriptionEdit);
    });
    $("#addTypeProject-btn").click(function () {
        jQuery.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/Admin/AddTypeProject",
                    data: {
                        Name:Name,
                        TypeProjectDescription: TypeProjectDescription
                    },
                    success: function (data) {
                      console.log(data);
                      location.reload();
                    },
                    error: function (data) {
                      alert("กรอกข้อมูลไม่ถูกต้อง");
                    },
          }); //end ajax
    });
    $(".edit").click(function() {
        var id = $(this).attr("idskill");
        jQuery.ajax({
				type: "post",
				dataType: "json",
				url: "/Admin/TypeProjectEdit",
				data: {
                    id : id
				},
				success: function (data) {
					console.log(data.typeProject_ID);
                    $("#TypeProjectName").val(data.name);
                    $("#TypeProject_ID").val(data.typeProject_ID);
                    $("#TypeProjectDescriptionEdit").val(data.typeProjectDescription);
                    $("#Date_Create").val(data.date_Create);
                    $("#DelStatus").val(data.delStatus);
				},
				error: function (data) {
					alert("เกิดข้อผิดพลาด");
				},
			});
    });
     $("#EditTypeProjectSeve-btn").click(function() {
        var TypeProject_ID = $("#TypeProject_ID").val();
        TypeProjectName = $("#TypeProjectName").val();
        TypeProjectDescriptionEdit = $("#TypeProjectDescriptionEdit").val();
        var Date_Create = $("#Date_Create").val();
        var DelStatus = $("#DelStatus").val();
        jQuery.ajax({
				type: "post",
				dataType: "json",
				url: "/Admin/EditTypeProjectSeve",
				data: {
                    TypeProject_ID : TypeProject_ID,
                    Name : TypeProjectName,
                    TypeProjectDescription : TypeProjectDescriptionEdit,
                    Date_Create : Date_Create,
                    DelStatus : DelStatus
				},
				success: function (data) {
					console.log(data);
                    location.reload();
				},
				error: function (data) {
					alert("เกิดข้อผิดพลาด");
				},
			});
    });
});
</script>