 @{ Layout = "_AdminLayout"; 
ViewData["Title"] = "จัดการผู้ใช้"; 
IEnumerable<Freelance> FreelanceList = ViewData["Freelance"] as IEnumerable<Freelance>; 
IEnumerable<Employer> EmployerList = ViewData["Employer"] as IEnumerable<Employer>; 
IEnumerable<Company> CompanyList = ViewData["Company"] as IEnumerable<Company>; 
}
<style>
    .tabelcon {
        margin: 1em;
    }
</style>
<div>
    <div class="container" style="margin-left: 10rem; padding-right: 4rem;">
        <div class="panel panel-danger" style="margin-top: 3rem;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 style="margin-left: 3rem;">จัดการผู้ใช้ ฟรีแลนซ์</h1>
                    </div>
                </div>
            </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input style="width: 40%;" type="text" id="searchString" class="form-control pull-right" placeholder="ไอดีผู้ใช้ฟรีแลนซ์">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="buttonSearch">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tabelcon">
                        <div class="row col-md-12 custyle">
                            <table class="table table-striped ">
                                <thead>
                                    <a href="/Home/Register" class="btn btn-primary btn-xs pull-right">
                                        <b>+</b> เพิ่มผู้ใช้</a>
                                    <tr>
                                        <th>ID</th>
                                        <th >ชื่อ/สกุล</th>
                                        <th class="text-center">อีเมล</th>
                                        <th class="text-center">วันที่สมัคร</th>
                                        <th class="text-center">ลบ/กู้คืน</th>
                                    </tr>
                                </thead>
                                <tbody id="tableSearch">
                                    @foreach (@Freelance @FreelanceLists in @FreelanceList) {
                                    <tr class="projectComtroller">
                                        <td class="col-xs-1">
                                            <div class="row">
                                                <div class="col-sm-12 ">
                                                    <p>@FreelanceLists.Freelance_ID</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-xs-5">
                                            <div class="row">
                                                <div class="col-sm-12 ">
                                                    <a href=/Outsider/ProfileDetailsFreelance/@FreelanceLists.Freelance_ID>
                                                        <h4>@FreelanceLists.FullName</h4>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-xs-2">
                                            <div class="row">
                                                <div class="col-sm-12 text-center ">@FreelanceLists.Email</div>
                                            </div>
                                        </td>
                                        <td class="col-xs-2">
                                            <div class="row">
                                                <div class="col-sm-12 text-center ">@Html.DisplayFor(modelItem => @FreelanceLists.Date_Create)</div>
                                            </div>
                                        </td>
                                        <td class="col-xs-2">
                                            <div class="row text-center">
                                                <div class="row text-center">
                                                @if( @FreelanceLists.DelStatus == false)
                                                {
                                                    <div class="col-sm-12">
                                                        <a href="/Admin/RemoveFreelance/@FreelanceLists.Freelance_ID" class='projectIDval btn btn-danger btn-xs'>
                                                            <span class="glyphicon glyphicon-trash"></span> ลบ</a>
                                                    </div>
                                                }
                                                else
                                                {       
                                                    <div class="col-sm-12">
                                                        <a href="/Admin/RecoverFreelance/@FreelanceLists.Freelance_ID" class='projectIDval btn btn-success btn-xs'>
                                                            <span class="glyphicon glyphicon-edit"></span> กู้คืน</a>
                                                    </div>
                                                }
                                        </div>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
$().ready(function() {
    var searchID = 0;
        $("#searchString").change(function () {
            searchID = $("#searchString").val();
            console.log(searchID);
        });
        $("#buttonSearch").click(function () {
            jQuery.ajax({
                type: "post",
                dataType: "json",
                url: "/Admin/searchFreelanceID",
                data: {
                    searchID: searchID,
                },
                success: function (data) {
                    console.log(data);
                    $(".projectAPI").css("display", "none");
                    jQuery.each(data, function (i, data) {
                        $("#tableSearch").find('tbody')
                        var date = new Date(data.date_Create);
                        var day = date.getDate();
                        var month = date.getMonth();
                        var year = date.getFullYear();
                        var row1 = $(' <tr class="projectAPI">'+
                        '<td class="col-xs-1">'+
                            '<div class="row">'+
                                '<div class="col-sm-12 projectName">'+
                                    '<p>'+ data.freelance_ID +'</p>'+
                                '</div>'+
                            '</div>'+
                        '</td>'+
                        '<td class="col-xs-5">'+
                            '<div class="row">'+
                               ' <div class="col-sm-12 projectName">'+
                                    '<a href=/Admin/ProjectDetails/'+data.freelance_ID+'>'+
                                        '<h4>'+data.fullName+'</h4>'+
                                    '</a>'+
                                '</div>'+
                            '</div>'+
                        '</td>'+
                        '<td class="col-xs-2">'+
                            '<div class="row">'+
                                '<div class="col-sm-12 text-center Timelength">'+data.email+'</div>'+
                            '</div>'+
                        '</td>'+
                        '<td class="col-xs-2">'+
                            '<div class="row">'+
                                '<div class="col-sm-12 text-center">'+
                                '<div class="col-sm-12 text-center Timelength">'+day+'/'+month+'/'+year+'</div>'+
                                '</div>'+
                            '</div>'+
                        '</td>'+
                        '<td class="col-xs-2">'+
                            '<div class="row text-center">'+
                                '<div class="col-sm-12" id="del'+data.freelance_ID+'">'+
                                '</div>'+
                                '<div class="col-sm-12" id="rec'+data.freelance_ID+'">'+
                                '</div>'+
                            '</div>'+
                        '</td>'+
                        '</tr>');
                        $("#tableSearch").append(row1);
                        if(data.delStatus == false)
                        {
                             $("#del"+data.freelance_ID).append("<a href='/Admin/RecoverFreelance/"+data.freelance_ID +"' class='projectIDval btn btn-danger btn-xs'>"+
                                           "<span class='glyphicon glyphicon-edit'></span> Del</a>");
                        }else
                        {
                           $("#rec"+data.freelance_ID).append("<a href='/Admin/RecoverFreelance/"+data.freelance_ID +"' class='projectIDval btn btn-success btn-xs'>"+
                                           "<span class='glyphicon glyphicon-edit'></span> กู้คืน</a>");
                        }
                        $(".projectComtroller").css("display", "none");
                    });
                    // if (data.length == 0) {
                    //     $(".projectComtroller").css("display", "none");
                    //     var rowNone = $('<tr id="rowNone"><td></td><td class="text-center"><p>-- ไม่พบประกาศ --</p></td></tr>');
                    //     $("#tableSearch").append(rowNone);
                    // }
                    // else {
                    //     $("#rowNone").css("display", "none");
                    // }
                },
                error: function (data) {
                    alert("เกิดข้อผิดพลาด");
                },
            });
        });
});
</script>