@using FreelanceGo_MasterV2.Models;
@{ Layout = "_NewLayuot"; ViewData["Title"] = "HistoryProjectDetails"; }


@{  
   var Project = ViewData["Project"] as Project; 
  // var FreelanceRating = ViewData["FreelanceRating"] as FreelanceRating; 
  // IEnumerable<FreelanceRating> ProjectEmployer = ViewData["ProjectEmployer"] as IEnumerable<FreelanceRating>; */
}



<style>
.profile{
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    border: 1px solid red;
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.feedback{
    margin-top: 3rem;
    padding: 3rem;
    border: 1px solid red;
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
dd{
    margin: 1rem;
}
.boxrating {
    background-color: red;
    color: white;
    border-radius: 2px;
    margin-right: 6px;
    padding: 1px 3px 0;
}
</style>


<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>@Project.ProjectName</h1>
                    </div>
                </div>
                <div class="profile">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>รายละเอียด</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>@Project.Description</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>ราคาเริ่มต้น: @Project.Budget บาท</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>ราคาเสนอ: @Project.ProjectPrice บาท</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>ระยะเวลาในการทำงาน: @Project.ProjectTimelength วัน</p> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>ระยะเวลาเสนอทำงาน: @Project.Timelength วัน</p> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>วันเริ่มประมูล:  @Html.DisplayFor(modelItem => Project.StartingDate) วัน</p> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>วันสิ้นสุดการประมูล: @Html.DisplayFor(modelItem => Project.EndDate) วัน</p> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>ข้อมูลผู้จ้าง</h3>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                <h4>
                                    <a href="/Outsider/ProfileDetailsCompany/@Project.Employer.Employer_ID">@Project.Employer.FullName</a>
                                </h4>
                            </div>
                            <div class="col-sm-12">
                                <span class="boxrating">@Project.Employer.Rating.0</span> @for (int i=0;i
                                < Project.Employer.Rating; i++) { <span style="color: red; font-size: 20px;">★</span>
                                    }
                            </div>
                     </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>ข้อมูลฟรีแลนซ์</h3>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-12">
                                <h4>
                                    <a href="/Outsider/ProfileDetailsFreelance/@Project.Freelance.Freelance_ID">@Project.Freelance.FullName</a>
                                </h4>
                            </div>
                            <div class="col-sm-12">
                                <span class="boxrating">@Project.Freelance.Rating.0</span> @for (int i=0;i
                                < Project.Freelance.Rating; i++) { <span style="color: red; font-size: 20px;">★</span>
                                    }
                            </div>
                     </div>
                     <div class="row">
                         <div class="col-sm-12">
                             <span class="pull-right">
                              <span style=" color: red; font-weight: bold;">ProjectID: </span>@Project.Project_ID </span>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

</script>