@using FreelanceGo_MasterV2.Models;
@{ Layout = "_NewLayuot"; ViewData["Title"] = "Empolyer"; }


@{  
   var ProfileEmployer = ViewData["ProfileEmployer"] as Employer; 
   IEnumerable<Project> ProjectEmployers = ViewData["ProjectEmployer"] as IEnumerable<Project>; 
}
<style>
	.sestion1 {
		margin-top: 3rem;
	}

	.profile {
		border: 1px solid red;
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}

	.project {
		margin-left: 2rem;
		border: 1px solid red;
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}


	.nav-pills>li.active>a,
	.nav-pills>li.active>a:focus,
	.nav-pills>li.active>a:hover {
		color: #fff;
		background-color: #ff0909;
	}
</style>

<div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="sestion1">
					<div class="row">
						<div class="col-sm-12">
							<a class="pull-right" href="/Home/ProjectPost" type="button">ประกาศงาน</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="row profile">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12"style="padding-right: 0px;padding-left: 0px;">
											<img  src="~/images/adult-business-businessman-428339.jpg" style="width: 100rem; height: 20rem;"  class="img-responsive" alt="">
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-12 text-center">
											<a asp-controller="Home" asp-action="ProfileDetailsEmployer" asp-route-id=@ProfileEmployer.Employer_ID >@ProfileEmployer.FullName</a>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileEmployer.Email</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileEmployer.TelephoneNumber</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileEmployer.Facebook</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileEmployer.Line</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileEmployer.Address</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 text-center">
											<a asp-controller="Home" asp-action="UpdateProfileEmployer" asp-route-id=@ProfileEmployer.Employer_ID style="margin:1rem;" class="btn btn-xs btn-danger">แก้ไข</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<div class="row project">
								<div class="col-sm-12">
									<div class="tableProject">
										<div id="EmployerTableContainer" style="margin:  3rem;">
											<div class="row">
												<div class="col-sm-12">
													<div class="row">
														<div class="col-sm-12 text-center">
															<h3>MY PROJECT</h3>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<div class="wizard-navigation">
																<ul class="nav nav-pills" style="background-color: #f1eeee;">
																	<li style="width: 32.3333%;" class="active">
																		<a href="#details" data-toggle="tab" aria-expanded="true">ปัจจุบัน</a>
																	</li>
																	<li style="width: 33.3333%;">
																		<a href="#captain" data-toggle="tab">ได้ผู้รับงาน</a>
																	</li>
																	<li style="width: 33.3333%;">
																		<a href="#description" data-toggle="tab">หมดเวลา</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												<div class="tab-content">
														<div class="tab-pane active" id="details">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-2">ราคา</th>
																							<th class="col-xs-3">สถานะ</th>
																							<th class="col-xs-3">ระยะเวลาสิ้นสุด</th>
																							<th class="col-xs-1"></th>
																						</tr>
																					</thead>
		
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectEmployers) 
																						{
																							<div>
																								@if (Project.Freelance_ID == null && Project.ProjectStatus == true)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a asp-controller="Home" asp-action="ProjectDetails" asp-route-id=@Project.Project_ID>@Project.ProjectName</a></td>
																										<td class="col-xs-2">@Project.Budget บาท</td>
																										<td class="col-xs-3">ยังไม่ได้ผู้รับทำงาน</td>
																										<td class="col-xs-3">@Html.DisplayFor(modelItem => Project.ProjectTimeOut) </td>
																										<td class="col-xs-1"><a asp-controller="Home" asp-action="UpdateProject" asp-route-id=@Project.Project_ID class="btn btn-xs btn-success pull-right">แก้ไข</a>
																										</td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="captain">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-2">ราคา</th>
																							<th class="col-xs-3">สถานะ</th>
																							<th class="col-xs-4">ระยะเวลาสิ้นสุด</th>
																						</tr>
																					</thead>
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectEmployers) 
																						{
																							<div>
																								@if (Project.Freelance_ID != null && Project.ProjectStatus == true)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a>@Project.ProjectName</a></td>
																										<td class="col-xs-2">@Project.Budget บาท</td>
																										<td class="col-xs-3">ยังไม่ได้ผู้รับทำงาน</td>
																										<td class="col-xs-4">@Html.DisplayFor(modelItem => Project.ProjectTimeOut) </td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="description">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table class="points_table" style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-2">ราคา</th>
																							<th class="col-xs-3">สถานะ</th>
																							<th class="col-xs-3">ระยะเวลาสิ้นสุด</th>
																						</tr>
																					</thead>
		
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectEmployers) 
																						{
																							<div>
																								@if (Project.Freelance_ID != null && Project.ProjectStatus == true)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a>@Project.ProjectName</a></td>
																										<td class="col-xs-2">@Project.Budget บาท</td>
																										<td class="col-xs-3">ยังไม่ได้ผู้รับทำงาน</td>
																										<td class="col-xs-3">@Html.DisplayFor(modelItem => Project.ProjectTimeOut) </td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
												</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		$(document).ready(function () {
		});
	</script>