@using FreelanceGo_MasterV2.Models;
@{ Layout = "_FreelnaceLayout"; ViewData["Title"] = "Freelance"; }


@{  
   var ProfileFreelance = ViewData["ProfileFreelance"] as Freelance; 
   IEnumerable<Project> ProjectFreelance = ViewData["ProjectFreelance"] as IEnumerable<Project>; 
}
<style>
	.sestion1 {
		margin-top: 3rem;
	}

	.profile {
		border: 1px solid red;
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}

	.project {
		margin-left: 2rem;
		border: 1px solid red;
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}
	.nav-pills>li.active>a,
	.nav-pills>li.active>a:focus,
	.nav-pills>li.active>a:hover {
		color: #fff;
		background-color: #ff0909;
	}
	.rating {
      float:left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        /* line-height:1.2; */
        color:#ddd;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: red;
        
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: red;
        
    }
    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: red;
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }
</style>

<div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="sestion1">
					<div class="row">
						<div class="col-sm-3">
							<div class="row profile">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12"style="padding-right: 0px;padding-left: 0px;">
											<img  src="~/images/@ProfileFreelance.ImgName" style="width: 100rem; height: 25rem;"  class="img-responsive" alt="">
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-12 text-center">
											<a asp-controller="Outsider" asp-action="ProfileDetailsFreelance" asp-route-id=@ProfileFreelance.Freelance_ID ><h3>@ProfileFreelance.FullName</h3></a>
											<input type="hidden" name="" id="Freelance_ID" class="form-control" value=@ProfileFreelance.Freelance_ID>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<ul class="nav">
												<li class="active">
													<a>
													<i class="fas fa-envelope"></i>
													 @ProfileFreelance.Email </a>
												</li>
												<li>
													<a style="padding-top: 2px;">
													<i class="fas fa-phone-square"></i> @ProfileFreelance.TelephoneNumber </a>
												</li>
												<li>
													<a style="padding-top: 2px;">
													<i class="fab fa-facebook"></i>
													 @ProfileFreelance.Facebook </a>
												</li>
												<li>
													<a style="padding-top: 2px;">
													<i class="fab fa-line"></i>
													 @ProfileFreelance.Line </a>
												</li>
												<li>
													<a style="padding-top: 2px;">
													<i class="glyphicon glyphicon-flag"></i>
													ที่อยู่: @ProfileFreelance.Address </a>
												</li>
												<li>
													<a style="padding-top: 2px;">
													ความสามารถ: <span id="Freelance_Skill"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<hr style="margin-bottom: 0rem;">
									<div class="row">
										<div class="col-sm-12 text-center" style="color: red; font-size: 3rem;">
											@for (int i=0;i< ProfileFreelance.Rating; i++)
                                            {
                                                <span>★</span>
                                            }
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 text-center">
											<a  href="/Freelnace/UpdateProfileFreelance/@ProfileFreelance.Freelance_ID" style="margin:1rem;" class="btn btn-xs btn-danger">แก้ไข</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<div class="row project">
								<div class="col-sm-12">
									<div class="tableProject">
										<div id="EmployerTableContainer" style="margin:  3rem;">
											<div class="row">
												<div class="col-sm-12">
													<div class="row">
														<div class="col-sm-12 text-center">
															<h3>MY PROJECT</h3>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<div class="wizard-navigation">
																<ul class="nav nav-pills" style="background-color: #f1eeee;">
																	<li style="width: 33.3333%;" class="active">
																		<a href="#details" data-toggle="tab" aria-expanded="true">กำลังประมูล</a>
																	</li>
																	<li style="width: 33.3333%;">
																		<a href="#captain" data-toggle="tab">งานที่ได้รับ</a>
																	</li>
																	<li style="width: 32.3333%;">
																		<a href="#success" data-toggle="tab">ผลงาน</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												<div class="tab-content">
														<div class="tab-pane active" id="details">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-2 text-center">สถานะ</th>
																							<th class="col-xs-2 text-center">ราคา</th>
																							<th class="col-xs-2 text-center">ระยะเวลา</th>
																							<th class="col-xs-2 text-center">สิ้นสุด</th>
																						</tr>
																					</thead>
		
																					<tbody id="ProjectName" class="points_table_scrollbar">
																						
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="captain">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-3 text-center">สถานะ</th>
																							<th class="col-xs-2 text-center">ราคา</th>
																							<th class="col-xs-2 text-center">ระยะเวลาทำงาน</th>
																						</tr>
																					</thead>
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectFreelance) 
																						{
																							<div>
																								@if (Project.Freelance_ID != null && Project.ProjectStatus == true && Project.FreelanceSuccessStatus == false)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a asp-controller="Freelnace" asp-action="ProjectDetailsWorking" asp-route-id=@Project.Project_ID>@Project.ProjectName</a></td>
																										<td class="col-xs-3 text-center">กำลังทำงาน</td>
																										<td class="col-xs-2 text-center">@Project.ProjectPrice บาท</td>
																										<td class="col-xs-2 text-center">
																											<div class="row">
																												<div class="col-sm-12 text-center">
																													@Project.ProjectTimelength วัน
																												</div>
																											</div>
																											<div class="row">
																												<div class="col-sm-12 text-center">
																													<a  class="btn btn-xs btn-success btnss" data-toggle="modal" data-target="#exampleModalCenter" ProjectID="@Project.Project_ID"  EmployerID=@Project.Employer_ID CompanyID=@Project.Company_ID>เสร็จสิ้นการทำงาน</a>
																												</div>
																											</div>
																										</td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="success">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-2 text-center">ราคา</th>
																							<th class="col-xs-3 text-center">สถานะ</th>
																							<th class="col-xs-4 text-center">ระยะเวลาทำงาน</th>
																						</tr>
																					</thead>
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectFreelance) 
																						{
																							<div>
																								@if (Project.Freelance_ID != null && Project.ProjectStatus == true && Project.FreelanceSuccessStatus == true )
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a asp-controller="Freelnace" asp-action="HistoryProjectDetails" asp-route-id=@Project.Project_ID>@Project.ProjectName</a></td>
																										<td class="col-xs-2 text-center">@Project.ProjectPrice บาท</td>
																										<td class="col-xs-3 text-center">เสร็จสิ้น</td>
																										<td class="col-xs-4 text-center">@Project.ProjectTimelength วัน</td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
												</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">ให้คะเเนน</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="rating">
								<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
								<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
								<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
								<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
								<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<textarea id="TextReview" class="form-control" rows="3"></textarea>
							<input type="hidden" id="Project_ID"/>
							<input type="hidden" id="Employer_ID" /> 
							<input type="hidden" id="Company_ID"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="btnRating">บันทึก</button>
				</div>
				</div>
			</div>
		</div>
		</div>
	</div>


	<script type="text/javascript">
	$(document).ready(function () {
		var Freelance_ID  = $("#Freelance_ID").val();
		jQuery.ajax({
				type: "get",
				dataType: "json",
				url: "/Freelnace/GetAuctionFreelance/"+Freelance_ID,
				success: function (data) {
					console.log(data);
                    jQuery.each( data, function( i, data ) {
                        $("#tableSearch").find('tbody')
                    var date = new Date(data.endDate);
                    var day = date.getDate();
                    var month = date.getMonth();
                    var year = date.getFullYear();
                    var row1 = $('<tr class="odd" style="height:5rem;">'+
										'<td class="col-xs-4"><a href="/Freelnace/ProjectDetails/'+data.project_ID+'">'+data.projectName+'</a></td>'+
										'<td class="col-xs-2 text-center">รอการตอบรับ</td>'+
										'<td class="col-xs-2 text-center">'+data.price+' บาท</td>'+
										'<td class="col-xs-2 text-center">'+data.auctionTime+' วัน</td>'+
										'<td class="col-xs-2 text-center">'+day +'/'+month+'/'+year+'</td>'+
								  '</tr>'
								);
                    $("#ProjectName").append(row1);
                    });
				},
				error: function (data) {
					alert("กรุณากรอกข้อมูลให้ถูกต้อง");
				},
		    });
			console.log(Freelance_ID);
		jQuery.ajax({
			type: "get",
			dataType: "json",
			url: "/Freelnace/GetSkillsFreelance/"+ Freelance_ID,
			success: function (data) {
				console.log(data);
				$.each(data, function(key, data) {   
				$("#Freelance_Skill").append(data.skillName + " | ");
				});
			},
			error: function (data) {
				alert("กรอกข้อมูลไม่ถูกต้อง");
			},
        }); //end ajax
		var Score = 0;
        var TextReview = "";
        $("#star1").change(function() {
            Score = $("#star1").val();
            console.log(Score);
        });
        $("#star2").change(function() {
            Score = $("#star2").val();
            console.log(Score);
        });
        $("#star3").change(function() {
            Score = $("#star3").val();
            console.log(Score);
        });
        $("#star4").change(function() {
            Score = $("#star4").val();
            console.log(Score);
        });
        $("#star5").change(function() {
            Score = $("#star5").val();
            console.log(Score);
        });
        $("#TextReview").change(function() {
            TextReview = $("#TextReview").val();
            console.log(TextReview);
        });
        $("#btnRating").click(function () {
			var Project_ID = $("#Project_ID").val();
        	var Employer_ID = $("#Employer_ID").val();
         	var Company_ID = $("#Company_ID").val();
			jQuery.ajax({
				type: "post",
				dataType: "json",
				url: "/Freelnace/SaveEmployerRating",
				data: {
					Employer_ID: Employer_ID,
                    Company_ID: Company_ID,
					Project_ID: Project_ID,
					Score: Score,
					TextReview: TextReview,
				},
				success: function (data) {
					console.log(data);
					location.replace("http://localhost:5000/Home/ProfileFreelance/"+localStorage['Employer_ID']);
				},
				error: function (data) {
					alert("เกิดข้อผิดพลาด");
				},
			});
		});
		$(".btnss").click(function() {
			var Project_ID = $(this).attr("ProjectID");
			var Employer_ID = $(this).attr("EmployerID");
			var Company_ID = $(this).attr("CompanyID");
			$("#Project_ID").val(Project_ID);
			$("#Employer_ID").val(Employer_ID);
			$("#Company_ID").val(Company_ID);
		});

	});
	</script>