@using FreelanceGo_MasterV2.Models;
@{ Layout = "_NewLayuot"; ViewData["Title"] = "Empolyer"; }


@{  
   var ProfileEmployer = ViewData["ProfileEmployer"] as Employer; 
   IEnumerable<Project> ProjectEmployers = ViewData["ProjectEmployer"] as IEnumerable<Project>; 
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
	.sestion1 {
		margin-top: 3rem;
	}

	.profile {
		border: 1px solid red;
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}

	.project {
		margin-left: 2rem;
		border: 1px solid red;
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}
	.nav-pills>li.active>a,
	.nav-pills>li.active>a:focus,
	.nav-pills>li.active>a:hover {
		color: #fff;
		background-color: #ff0909;
	}
	.rating {
      float:left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        /* line-height:1.2; */
        color:#ddd;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: red;
        
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: red;
        
    }
    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: red;
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }

</style>

<div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="sestion1">
					<div class="row">
						<div class="col-sm-12">
							<a class="btn btn-xs btn-success pull-right" style="padding: 0.5rem; margin: 1rem; margin-right: 0rem; background-color: red; border-color: red;" href="/Home/ProjectPost" type="button">ประกาศงาน</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="row profile">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12"style="padding-right: 0px;padding-left: 0px;">
											<img  src="~/images/@ProfileEmployer.imgName" style="width: 100rem; height: 25rem;"  class="img-responsive" alt="">
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-12 text-center">
											<a asp-controller="Outsider" asp-action="ProfileDetailsEmployer" asp-route-id=@ProfileEmployer.Employer_ID ><h3>@ProfileEmployer.FullName</h3></a>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<ul class="nav">
												<li class="active">
													<a>
													<i class="fas fa-envelope"></i>
													 @ProfileEmployer.Email </a>
												</li>
												<li>
													<a style="padding-top: 2px;">
													<i class="fas fa-phone-square"></i> @ProfileEmployer.TelephoneNumber </a>
												</li>
												<li>
													<a style="padding-top: 2px;">
													<i class="fab fa-facebook"></i>
													 @ProfileEmployer.Facebook </a>
												</li>
												<li>
													<a style="padding-top: 2px;">
													<i class="fab fa-line"></i>
													 @ProfileEmployer.Line </a>
												</li>
												<li>
													<a style="padding-top: 2px;">
													<i class="glyphicon glyphicon-flag"></i>
													ที่อยู่: @ProfileEmployer.Address </a>
												</li>
											</ul>
										</div>
									</div>
									<hr style="margin-bottom: 0rem;">
									<div class="row">
										<div class="col-sm-12 text-center" style="color: red; font-size: 3rem;">
											@for (int i=0;i< ProfileEmployer.Rating; i++)
                                            {
                                                <span>★</span>
                                            }
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 text-center">
											<a asp-controller="Home" asp-action="UpdateProfileEmployer" asp-route-id=@ProfileEmployer.Employer_ID style="margin:1rem;" class="btn btn-xs btn-danger">แก้ไข</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<div class="row project">
								<div class="col-sm-12">
									<div class="tableProject">
										<div id="EmployerTableContainer" style="margin:  3rem;">
											<div class="row">
												<div class="col-sm-12">
													<div class="row">
														<div class="col-sm-12 text-center">
															<h3>MY PROJECT</h3>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<div class="wizard-navigation">
																<ul class="nav nav-pills" style="background-color: #f1eeee;">
																	<li style="width: 32.3333%;" class="active">
																		<a href="#details" data-toggle="tab" aria-expanded="true">ปัจจุบัน</a>
																	</li>
																	<li style="width: 33.3333%;">
																		<a href="#captain" data-toggle="tab">ได้ผู้รับงาน</a>
																	</li>
																	<li style="width: 33.3333%;">
																		<a href="#description" data-toggle="tab">ผลงาน</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												<div class="tab-content">
														<div class="tab-pane active" id="details">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-2 text-center">ราคา</th>
																							<th class="col-xs-3 text-center">สถานะ</th>
																							<th class="col-xs-3 text-center">ระยะเวลาสิ้นสุด</th>
																							<th class="col-xs-1 "></th>
																						</tr>
																					</thead>
		
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectEmployers) 
																						{
																							<div>
																								@if (Project.Freelance_ID == null && Project.ProjectStatus == true)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a asp-controller="Home" asp-action="ProjectDetails" asp-route-id=@Project.Project_ID>@Project.ProjectName</a></td>
																										<td class="col-xs-2 text-center">@Project.Budget บาท</td>
																										<td class="col-xs-3 text-center">ยังไม่ได้ผู้รับทำงาน</td>
																										<td class="col-xs-3 text-center">@Html.DisplayFor(modelItem => Project.ProjectTimeOut) </td>
																										<td class="col-xs-1 text-center"><a asp-controller="Home" asp-action="UpdateProject" asp-route-id=@Project.Project_ID class="btn btn-xs btn-info pull-right">แก้ไข</a>
																										</td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														<div class="tab-pane " id="captain">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4 ">ชื่องาน</th>
																							<th class="col-xs-2 text-center">ราคา</th>
																							<th class="col-xs-3 text-center">สถานะ</th>
																							<th class="col-xs-4 text-center">ระยะเวลาในการทำงาน</th>
																						</tr>
																					</thead>
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectEmployers) 
																						{
																							<div>
																								@if (Project.Freelance_ID != null && Project.ProjectStatus == true && Project.SuccessStatus == false)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a asp-controller="Home" asp-action="ProjectDetailsWorking" asp-route-id=@Project.Project_ID>@Project.ProjectName</a></td>
																										<td class="col-xs-2 text-center">@Project.ProjectPrice บาท</td>
																										<td class="col-xs-3 text-center">กำลังทำงาน</td>
																										<td class="col-xs-3 text-center">
																											<div class="row">
																												<div class="col-sm-12">
																													@Project.ProjectTimelength วัน
																												</div>
																											</div>
																											<div class="row">
																												<div class="col-sm-12 text-center">
																													<a class="btn btn-xs btn-success btnss" data-toggle="modal" data-target="#exampleModalCenter" ProjectID="@Project.Project_ID"  FreelanceID=@Project.Freelance_ID >เสร็จสิ้นการทำงาน</a>
																												</div>
																											</div>
																										</td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="description">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table class="points_table" style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-2 text-center">ราคา</th>
																							<th class="col-xs-3 text-center">สถานะ</th>
																							<th class="col-xs-3 text-center">ระยะเวลาในการทำงาน</th>
																						</tr>
																					</thead>
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectEmployers) 
																						{
																							<div>
																								@if (Project.SuccessStatus == true)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a  asp-controller="Home" asp-action="HistoryProjectDetails" asp-route-id=@Project.Project_ID>@Project.ProjectName</a></td>
																										<td class="col-xs-2 text-center">@Project.ProjectPrice บาท</td>
																										<td class="col-xs-3 text-center">เสร็จสิ้น</td>
																										<td class="col-xs-3 text-center">@Project.ProjectTimelength วัน</td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
												</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">ให้คะเเนน</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
                    <div class="col-sm-12">
                        <div class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                        </div>
                    </div>
                </div>
				<div class="row">
                    <div class="col-sm-12">
                        <textarea id="TextReview" class="form-control" rows="3"></textarea>
						<input type="hidden" id="Project_ID"/>
                        <input type="hidden" id="Freelance_ID" /> 
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="btnRating">บันทึก</button>
			</div>
			</div>
		</div>
		</div>
	</div>
</div>

<script>
    $().ready(function() {
        var Score = 0;
        var TextReview = "";
        $("#star1").change(function() {
            Score = $("#star1").val();
            console.log(Score);
        });
        $("#star2").change(function() {
            Score = $("#star2").val();
            console.log(Score);
        });
        $("#star3").change(function() {
            Score = $("#star3").val();
            console.log(Score);
        });
        $("#star4").change(function() {
            Score = $("#star4").val();
            console.log(Score);
        });
        $("#star5").change(function() {
            Score = $("#star5").val();
            console.log(Score);
        });
        $("#TextReview").change(function() {
            TextReview = $("#TextReview").val();
            console.log(TextReview);
        });
        $("#btnRating").click(function () {
			var Project_ID = $("#Project_ID").val();
        	var Freelance_ID = $("#Freelance_ID").val();
			jQuery.ajax({
				type: "post",
				dataType: "json",
				url: "/Home/SaveFreelanceRating",
				data: {
					Freelance_ID: Freelance_ID,
					Project_ID: Project_ID,
					Score: Score,
					TextReview: TextReview,
				},
				success: function (data) {
					console.log(data);
					location.replace("http://localhost:5000/Home/ProfileEmployer/"+localStorage['Employer_ID']);
				},
				error: function (data) {
					alert("เกิดข้อผิดพลาด");
				},
			});
		});
		$(".btnss").click(function() {
			var Project_ID = $(this).attr("ProjectID");
			var Freelance_ID = $(this).attr("FreelanceID");
			$("#Project_ID").val(Project_ID);
			$("#Freelance_ID").val(Freelance_ID);
		});
    });
</script>