@using FreelanceGo_MasterV2.Models;
@{ Layout = "_CompanyLayout"; ViewData["Title"] = "Company"; }


@{  
   var ProfileCompany = ViewData["ProfileCompany"] as Company; 
   IEnumerable<Project> ProjectCompany = ViewData["ProjectCompany"] as IEnumerable<Project>; 
}
<style>
	.sestion1 {
		margin-top: 3rem;
	}

	.profile {
		border: 1px solid red;
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}

	.project {
		margin-left: 2rem;
		border: 1px solid red;
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}


	.nav-pills>li.active>a,
	.nav-pills>li.active>a:focus,
	.nav-pills>li.active>a:hover {
		color: #fff;
		background-color: #ff0909;
	}
</style>

<div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="sestion1">
					<div class="row">
						<div class="col-sm-12">
							<a class="btn btn-xs btn-success pull-right" style="padding: 0.5rem; margin: 1rem; margin-right: 0rem; background-color: red; border-color: red;" href="/Company/ProjectPost" type="button">ประกาศงาน</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="row profile">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12"style="padding-right: 0px;padding-left: 0px;">
											<img  src="~/images/@ProfileCompany.imgName" style="width: 100rem; height: 20rem;"  class="img-responsive" alt="">
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-12 text-center">
											<a asp-controller="Company" asp-action="ProfileDetailsCompany" asp-route-id=@ProfileCompany.Company_ID >@ProfileCompany.Company_Name</a>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileCompany.Email</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileCompany.Company_Tel</label>
										</div>
									</div>
                                    <div class="row">
										<div class="col-sm-12">
											<label>@ProfileCompany.Company_TaxID</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileCompany.Facebook</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileCompany.Line</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label>@ProfileCompany.Company_Address</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 text-center">
											<a asp-controller="Company" asp-action="UpdateProfileCompany" asp-route-id=@ProfileCompany.Company_ID style="margin:1rem;" class="btn btn-xs btn-danger">แก้ไข</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<div class="row project">
								<div class="col-sm-12">
									<div class="tableProject">
										<div id="EmployerTableContainer" style="margin:  3rem;">
											<div class="row">
												<div class="col-sm-12">
													<div class="row">
														<div class="col-sm-12 text-center">
															<h3>MY PROJECT</h3>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<div class="wizard-navigation">
																<ul class="nav nav-pills" style="background-color: #f1eeee;">
																	<li style="width: 32.3333%;" class="active">
																		<a href="#details" data-toggle="tab" aria-expanded="true">ปัจจุบัน</a>
																	</li>
																	<li style="width: 33.3333%;">
																		<a href="#captain" data-toggle="tab">ได้ผู้รับงาน</a>
																	</li>
																	<li style="width: 33.3333%;">
																		<a href="#description" data-toggle="tab">เสร็จสิ้น</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												<div class="tab-content">
														<div class="tab-pane active" id="details">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-2 text-center">ราคา</th>
																							<th class="col-xs-3 text-center">สถานะ</th>
																							<th class="col-xs-3 text-center">ระยะเวลาสิ้นสุด</th>
																							<th class="col-xs-1 "></th>
																						</tr>
																					</thead>
		
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectCompany) 
																						{
																							<div>
																								@if (Project.Freelance_ID == null && Project.ProjectStatus == true)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a asp-controller="Company" asp-action="ProjectDetails" asp-route-id=@Project.Project_ID>@Project.ProjectName</a></td>
																										<td class="col-xs-2">@Project.Budget บาท</td>
																										<td class="col-xs-3">ยังไม่ได้ผู้รับทำงาน</td>
																										<td class="col-xs-3">@Html.DisplayFor(modelItem => Project.ProjectTimeOut) </td>
																										<td class="col-xs-1"><a asp-controller="Company" asp-action="UpdateProject" asp-route-id=@Project.Project_ID class="btn btn-xs btn-info pull-right">แก้ไข</a>
																										</td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="captain">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4 ">ชื่องาน</th>
																							<th class="col-xs-2 text-center">ราคา</th>
																							<th class="col-xs-3 text-center">สถานะ</th>
																							<th class="col-xs-4 text-center">ระยะเวลาในการทำงาน</th>
																						</tr>
																					</thead>
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectCompany) 
																						{
																							<div>
																								@if (Project.Freelance_ID != null && Project.ProjectStatus == true && Project.SuccessStatus == false)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a asp-controller="Company" asp-action="ProjectDetailsWorking" asp-route-id=@Project.Project_ID>@Project.ProjectName</a></td>
																										<td class="col-xs-2 text-center">@Project.Budget บาท</td>
																										<td class="col-xs-3 text-center">กำลังทำงาน</td>
																										<td class="col-xs-3 text-center">
																											<div class="row">
																												<div class="col-sm-12">
																													@Project.ProjectTimelength วัน
																												</div>
																											</div>
																											<div class="row">
																												<div class="col-sm-12 text-center">
																													<a asp-controller="Company" asp-action="Rating" asp-route-id=@Project.Project_ID class="btn btn-xs btn-success ">เสร็จสิ้นการทำงาน</a>
																												</div>
																											</div>
																										</td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="description">
															<div class="row">
																<div class="col-sm-12">
																	<h4>ประกาศงาน</h4>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<form class="tableProject">
																		<div class="row">
																			<div class="col-sm-12">
																				<table class="points_table" style="width: 100%;">
																					<thead>
																						<tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
																							<th class="col-xs-4">ชื่องาน</th>
																							<th class="col-xs-2 text-center">ราคา</th>
																							<th class="col-xs-3 text-center">สถานะ</th>
																							<th class="col-xs-3 text-center">ระยะเวลาในการทำงาน</th>
																						</tr>
																					</thead>
		
																					<tbody class="points_table_scrollbar">
																						@foreach (Project Project in ProjectCompany) 
																						{
																							<div>
																								@if (Project.SuccessStatus == true)
																								{
																									<tr class="odd" style="height:5rem;">
																										<td class="col-xs-4"><a asp-controller="Company" asp-action="HistoryProjectDetails" asp-route-id=@Project.Project_ID >@Project.ProjectName</a></td>
																										<td class="col-xs-2 text-center">@Project.ProjectPrice บาท</td>
																										<td class="col-xs-3 text-center">เสร็จสิ้น</td>
																										<td class="col-xs-3 text-center">@Project.ProjectTimelength วัน</td>
																									</tr>
																								}
																							</div>
																						}
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
												</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		$(document).ready(function () {
		});
	</script>