@using FreelanceGo_MasterV2.Models; 
@{ Layout = "_FreelnaceLayout"; 
ViewData["Title"] = "Search"; } 
@{ 
   IEnumerable<Project> ProjectList = ViewData["ProjectList"] as IEnumerable<Project>; 
   IEnumerable<TypeProject> TypeProjects = ViewData["TypeProject"] as IEnumerable<TypeProject>; 
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> 


<style>
    .Search {
        border: 1px solid red;
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        padding: 5rem;
        padding-top: 1rem;
    }
    .tableSearch{
        border: 1px solid red;
         border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        margin-top: 1rem;
        padding: 5rem;
    }
    th{
        text-align: center;
    }
    .center-td{
        text-align: center;
    }
    tr{
       height: 10rem;
    }
</style>


<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <h1>ค้นหาประกาศงาน</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="formSearch">
                            <div class="row" >
                                <div class="col-sm-12">
                                    <div class="formSearch-header">
                                        <form style="padding: 2rem;padding-left: 7rem;">
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <input type="text" id="searchString" class="form-control " placeholder="ค้นหาประกาศ">
                                            </div>
                                            <div class="col-sm-4">
                                            <select class="form-control" id="seTypeProject">
                                                <option value=null>เลือกประเภทงาน</option>
                                                @foreach (TypeProject TypeProjectList in TypeProjects) 
                                                {
                                                    <option value=@TypeProjectList.TypeProject_ID>@TypeProjectList.Name</option>
                                                }
                                            </select>
                                            </div>
                                            <div class="col-sm-2 pull-left">
                                                <button class="btn btn-default " type="button" id="buttonSearch">
                                                    <i class="fas fa-search"></i> ค้นหา
                                                </button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-sm-12">
                                    <div class="formSearch-header" style="border-bottom: 1px solid #BEC0C2;">
                                        <table style="width:100%;" id="tableSearch" class="tableSearch">
                                            <thead>
                                                <tr style="height: 5rem; background-color: #4e4d4d; color:  white;">
                                                    <th class="col-xs-5">ชื่อ/รายละอียด</th>
                                                    <th class="col-xs-2 text-center">ระยะเวลา</th>
                                                    <th class="col-xs-3 text-center">ประมูลถึง</th>
                                                    <th class="col-xs-2 text-center">ราคา</th>
                                                </tr>
                                            </thead>
                                            <tbody class="points_table_scrollbar">
                                                @foreach (@Project @ProjectLists in @ProjectList) {
                                                <tr class="projectComtroller">
                                                    <td class="col-xs-5">
                                                        <div class="row">
                                                            <div class="col-sm-12 projectName">
                                                                <a href=/Freelnace/ProjectDetails/@ProjectLists.Project_ID>
                                                                    <h4><i class="fas fa-archive"></i> @ProjectLists.ProjectName</h4>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12"> @ProjectLists.Description</div>
                                                        </div>
                                                    </td>
                                                    <td class="col-xs-2">
                                                        <div class="row">
                                                            <div class="col-sm-12 text-center Timelength">@ProjectLists.Timelength วัน</div>
                                                        </div>
                                                    </td>
                                                    <td class="col-xs-2">
                                                        <div class="row">
                                                            <div class="col-sm-12 text-center EndDate">@Html.DisplayFor(modelItem => @ProjectLists.EndDate)</div>
                                                        </div>
                                                    </td>
                                                    <td class="col-xs-2">
                                                        <div class="row">
                                                            <div class="col-sm-12 text-center Budget"><i class="fal fa-calendar-alt"></i>@ProjectLists.Budget บาท</div>
                                                        </div>

                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#dataNull").css("display", "none");
        var searchString = "";
        var typeProject =  0;
        $("#searchString").change(function () {
            searchString = $("#searchString").val();
            console.log(searchString);
            if(searchString == "")
            {
                $("#buttonSearch").prop('disabled', true);
            }else
            {
                 $("#buttonSearch").prop('disabled', false);
            }
        });
        $("#seTypeProject").change(function () {
            typeProject = $("#seTypeProject").val();
            console.log(typeProject);
        });
        $("#buttonSearch").click(function () {
            jQuery.ajax({
                type: "post",
                dataType: "json",
                url: "/Freelnace/SearchString",
                data: {
                    searchString: searchString,
                    typeProject: typeProject
                },
                success: function (data) {
                    console.log(data);
                    $(".projectAPI").css("display", "none");
                    $(".trrowNone").css("display", "none");
                    jQuery.each(data, function (i, data) {
                        $("#tableSearch").find('tbody')
                        var date = new Date(data.endDate);
                        var day = date.getDate();
                        var month = date.getMonth();
                        var year = date.getFullYear();
                        var row1 = $('<tr class="projectAPI"> <td class="col-xs-5"><div class="row"><div class="col-sm-12 projectName">' + '<a href=/Freelnace/ProjectDetails/' + data.project_ID + '>' + '<h4>' + '<i class="fas fa-archive"></i> '+ data.projectName + '</h4>' + '</a>' + '</div></div>' +
                            '<div class="row"><div class="col-sm-12">' + data.description + '</div></div>' +
                            '</td><td class="col-xs-2"><div class="row"><div class="col-sm-12 text-center Timelength">' + data.timelength + ' วัน' + '</div></div></td>' +
                            '<td class="col-xs-2"><div class="row"><div class="col-sm-12 text-center EndDate">' + day + '/' + month + '/' + year + '</div></div></td>' +
                            '<td class="col-xs-2"><div class="row"><div class="col-sm-12 text-center Budget">' + data.budget + ' บาท' + '</div></div>');
                        $("#tableSearch").append(row1);
                        $(".projectComtroller").css("display", "none");
                    });
                    if (data.length == 0) {
                        $(".projectComtroller").css("display", "none");
                        $(".trrowNone").css("display", "none");
                        var rowNone = $('<tr class="trrowNone" id="rowNone"><td></td><td class="text-center"><p>-- ไม่พบประกาศ --</p></td></tr>');
                        $("#tableSearch").append(rowNone);
                    }
                    else {
                        $("#rowNone").css("display", "none");
                    }
                },
                error: function (data) {
                    alert("เกิดข้อผิดพลาด");
                },
            });
        });
    });
</script>