@using FreelanceGo_MasterV2.Models; 
@{ Layout = "_FreelnaceLayout"; ViewData["Title"] = "UpdateProfileFreelance"; } 
@{ 
    var UpdateProfileFreelance = ViewData["UpdateProfileFreelance"] as Freelance; 
    IEnumerable<Skill> Skills = ViewData["Skill"] as IEnumerable<Skill>; 
    //IEnumerable<Project> ProjectFreelances = ViewData["ProjectFreelance"] as IEnumerable<Project>; 
}



    <style>
    </style>

<div>
      <form class="center" style="background-color: #fff; padding: 20px; box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.42); margin: 30rem; margin-top: 3rem; margin-bottom: 3rem;">
        <div class="row" style="padding:  2rem;">
          <div class="col-sm-12 text-center">
              <h3>อัพเดทข้อมูลส่วนตัว</h3>
        </div>
        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">ชื่อ-นามสกุล</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user fa" aria-hidden="true"></i>
              </span>
              <input id="FullName" value="@UpdateProfileFreelance.FullName" type="text" class="form-control" placeholder="ชื่อ-นามสกุล" />
              <input id="imgName" value="@UpdateProfileFreelance.ImgName" type="hidden" class="form-control" />
              <input id="Freelance_ID" value=@UpdateProfileFreelance.Freelance_ID type="hidden" class="form-control" />
            </div>
            <span id="error_fullName" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="cols-sm-2 control-label">อีเมล</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </span>
              <input id="Email" type="email" value="@UpdateProfileFreelance.Email" class="form-control" placeholder="อีเมล" />
            </div>
            <span id="error_email" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="cols-sm-2 control-label"> เบอร์โทร</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fas fa-phone-square"></i>
              </span>
              <input id="TelephoneNumber"  value="@UpdateProfileFreelance.TelephoneNumber" type="text" class="form-control" placeholder="เบอร์โทร" />
            </div>
            <span id="error_password" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="cols-sm-2 control-label">Facebook</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fab fa-facebook"></i>
              </span>
              <input type="text" id="Facebook" value="@UpdateProfileFreelance.Facebook" class="form-control" placeholder="Facebook" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="cols-sm-2 control-label">Line</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fab fa-line"></i>
              </span>
              <input type="text" id="Line" value="@UpdateProfileFreelance.Line" class="form-control" placeholder="Line" />
            </div>
          </div>
        </div>
         <div class="form-group">
          <label class="cols-sm-2 control-label">ที่อยู่</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fas fa-map-marker"></i>
              </span>
              <input type="text" id="Address" value="@UpdateProfileFreelance.Address" class="form-control" placeholder="Address" />
            </div>
          </div>
        </div>
         <div class="form-group">
          <label class="cols-sm-2 control-label">รูปโปรไฟล์</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
               <i class="fas fa-camera-retro"></i>
              </span>
              <input type="file" id="uploadFile"  class="form-control" placeholder="Line" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
                <label for="name" class="cols-sm-2 control-label">ทักษะความสามารถ</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fas fa-tasks"></i>
                    </span>
                    <select id="skills"  class="js-example-basic-multiple form-control" name="states[]" multiple="multiple">
                        @foreach (Skill Skill in Skills) 
                          {
                            <option value=@Skill.Skill_ID>@Skill.Name</option>
                          }
                             <option  value=null><h1>สกิวของฉัน</h1></option>
                      </select>
                </div>
              </div>
              </div>
              </div>
              </div>
        <div class="text-center">
          <button id="submid" type="button" class="btn btn-danger">UPDATE</button>
        </div>
      </form>
</div>

<script>
$().ready(function () {
  var Freelance = {
    Freelance_ID: 0,
    FullName: '',
    Email: '',
    TelephoneNumber: '',
    Facebook: '',
    Line: '',
    Address: '',
  }
  var imgName = '';
       Freelance.FullName = $("#FullName").val();
       Freelance.Email = $("#Email").val();
       Freelance.TelephoneNumber = $("#TelephoneNumber").val();
       Freelance.Facebook = $("#Facebook").val();
       Freelance.Line = $("#Line").val();
       Freelance.Address = $("#Address").val();
       Freelance.Freelance_ID = $("#Freelance_ID").val();
       imgName = $("#imgName").val();
       console.log(Freelance);
       console.log(imgName);
      $("#FullName").change(function () {
        Freelance.FullName = $("#FullName").val();
      });
       $("#Email").change(function () {
        Freelance.Email = $("#Email").val();
      });
        $("#TelephoneNumber").change(function () {
        Freelance.TelephoneNumber = $("#TelephoneNumber").val();
      });
       $("#Facebook").change(function () {
        Freelance.Facebook = $("#Facebook").val();
      });
       $("#Line").change(function () {
        Freelance.Line = $("#Line").val();
      });
        $("#Address").change(function () {
        Freelance.Address = $("#Address").val();
        console.log(Freelance);
      });
      console.log(Freelance.Freelance_ID);
      var f =  new FormData();
      console.log(f);
      var _fileName = new FormData();
       let onchange = function () {
              let _this = $(this)[0];
              f.append('File', _this.files[0]);
              _fileName = f.getAll('File', _this.files[0].name);
              imgName = _fileName[0].name;
              console.log(imgName);
              console.log(f);
        };
        var onSuccess = function (model) {
         // imgName = model.file.fileName;
                console.log(model)
        }
         $(document).on('change', 'input[type=file]', onchange);

       //select2
     $("#skills").select2({
        placeholder: "กรุณาเลือกทักษะ"
    });
    $("#skills").change(function() {
    Skill = $("#skills").val();
    console.log(Skill);
    });
    Skill = $("#skills").val();
    console.log(Skill);
     jQuery.ajax({
        type: "get",
        dataType: "json",
        url: "/Freelnace/GetFreelanceSkill/"+ Freelance.Freelance_ID,
        success: function (data) {
            console.log(data);
            $.each(data, function(key, data) {   
               var newOption = new Option(data.text = data.name, data.id = data.skill_ID, false, true);
               $('#skills').append(newOption).trigger('change');
            });
        },
        error: function (data) {
            alert("กรอกข้อมูลไม่ถูกต้อง");
        },
        }); //end ajax
      $("#submid").click(function() {
           $.ajax({
                method: 'POST',
                url: '/Home/Upload',
                data: f,
                processData: false,
                contentType: false,
              }).done(onSuccess);
            jQuery.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/Freelnace/UpdateSkillFreelance",
                        data:  {
                            id: Freelance.Freelance_ID,
                            skills: Skill
                        },
                        success: function (data) {
                       // alert("ประกาศสำเร็จ");
                        console.log(data);
                        },
                        error: function (data) {
                        alert("กรอกข้อมูลไม่ถูกต้อง");
                        },
            }); //end ajax 
            jQuery.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/Freelnace/UpdateFreelance",
                    data:  {
                      Freelance_ID: Freelance.Freelance_ID,
                      FullName: Freelance.FullName,
                      Email: Freelance.Email,
                      TelephoneNumber: Freelance.TelephoneNumber,
                      Facebook: Freelance.Facebook,
                      Line: Freelance.Line,
                      Address: Freelance.Address,
                      imgName: imgName
                    },
                //    processData: false,
                  //  contentType: false,
                    success: function (data) {
                      alert("ประกาศสำเร็จ");
                      console.log(data);
                    location.replace("http://localhost:5000/Home/ProfileFreelance/"+localStorage['Freelance_ID']);
                    },
                    error: function (data) {
                      alert("กรอกข้อมูลไม่ถูกต้อง");
                    },
          }); //end ajax
      });
});
</script>